.fix-card {
  background-color: #333333 !important;
  & div {
    color: #ffffff !important;
  }
}
.fix-options {
  & select,
  div,
  span {
    color: #000000 !important;
  }
}
.data-form {
  display: flex;
  & label {
    color: #ffffff !important;
    padding: 5px !important;
  }
}
.form-content {
  min-width: 80%;
  margin-left: 45px;
  & label{
    color: #ffffff !important;
  }
}
.fix-icons {
  & i {
    padding: 0;
  }
}
.machines {
  border-style: ridge;
  border-color: #000000;
  margin-top: 10px !important;
  padding: 20px !important;
  border-radius: 10px;
}
