.fix-card {
  background-color: #333333 !important;
  & div {
    color: #ffffff !important;
  }
}
.fix-options {
  & select,
  div,
  span {
    color: #000000 !important;
  }
}
.data-form {
  display: flex;
  & label {
    color: #ffffff !important;
    padding: 5px !important;
  }
}
.form-content {
  min-width: 80%;
  margin-left: 45px;
}
.fix-icons {
  & i {
    padding: 0;
  }
}
