@import "./layouts/header";
@import "./layouts/spinner";
@import "./User/LogIn/login";
@import "./User/Comunity/comunity";
@import "./User/Machines/machines";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$base: #202020;

* {
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #333333 !important;
}
input,
select {
  background-color: #ffffff !important;
  color: #000000 !important;
}
.contenedor {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}
.centrar {
  display: flex;
  justify-content: center;
}
