@import "./layouts/header";
@import "./layouts/spinner";
@import "./User/LogIn/login";
@import "./User/Comunity/comunity";
@import "./User/Machines/machines";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$base: #202020;
$btn-color: #2a8ad8;

* {
  font-family: "Open Sans", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $base;
  color: #ffffff;
}
.contenido {
  padding: 100px 10%;
}
.formulario {
  display: flex;
  justify-content: center;
  & ul {
    list-style: none;
  }
}
.btnA {
  padding: 3px 6px;
  background-color: $btn-color;
}
